dill==0.4.0
docplex==2.30.251
mpmath==1.3.0
networkx==3.4.2
numpy==1.26.4
ply==3.11
psutil==7.2.1
python-dateutil==2.9.0.post0
qiskit==0.45.3
qiskit-aer==0.13.3
qiskit-algorithms==0.3.0
qiskit-optimization==0.6.1
qiskit-terra==0.45.3
rustworkx==0.17.1
scipy==1.15.3
six==1.17.0
stevedore==5.6.0
symengine==0.14.1
sympy==1.14.0
typing_extensions==4.15.0
